/*
colors from http://paletton.com/#uid=1350u0k5yU200++27Zq9ALbe7zr
Dark green: #65B597
very light green: #C4EDDE
font: Roboto https://www.behance.net/gallery/35768979/Typography-Google-Fonts-Combinations
white: #ffffff

*/
html {
  font-size: 16px;
}

body {
  background-color: #65B597;
  font-family: "Roboto","Helvetica", "Arial", serif;
}
div {
  display: block;
}
/* header*/
header {
  background-color: #FFFFFF;
  z-index: 1;
  position: fixed;
  width: 100%;
  font-size: 1.5rem;
}
header nav {
  height: 4rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #384259;
}
.logo {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  color: #384259;
  font-family: "Open Sans Condensed", "Arial", sans-serif;
}
.logo h1 {
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}
/* latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'), url(https://fonts.gstatic.com/s/opensanscondensed/v11/gk5FxslNkTTHtojXrkp-xBEur64QvLD-0IbiAdTUNXE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
.logo span {
  color: black;
  font-weight: 700;
}
/* latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSansCondensed-Bold'), url(https://fonts.gstatic.com/s/opensanscondensed/v11/gk5FxslNkTTHtojXrkp-xIF8zhZCJ7x9Pr62cRgaVUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
.menu {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
  font-family: "Roboto", "Arial", sans-serif;
}
.menu ul li{
  display: inline-block;
}
.button {
  text-decoration: none;
  font-size: 1.5rem;
  height: 100%;
  padding: 0.5rem;
  cursor: pointer;
}
.button:hover {
  color: #C4EDDE;
}

/* mobile */
#mobile {
  justify-content: space-around;
  display: none;
}
.banner-break {
  display: block;
  background-color: #F0FFFF;
  height: 4rem;
  width: 100%;
}
@media only screen and (max-width: 757px)
{
  #desktop {
    display: none;
  }
  #mobile {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-around;
    padding-top: 5px;
  }
  .banner-break {
    display:block;
    height: 15.25rem;
  }
}
/* main */
/* general layout */
.container {
  display: flex;
  padding: 0 1.5rem;
}
.container:nth-child(2n+1) {
  background-color: #F0FFFF;
}
h1 {
  font-size: 2.5rem;
  line-height: 130%;
}
h2 {
  font-size: 1.5rem;
  line-height: 120%;
}
h3 {
  font-size: 110%;
}
/* banner */
.left {
  max-width: 60%;
}
#Banner .left, #information .left {
  margin-right: 2.5rem;
  max-width: 60%;
}
.left .image {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#Banner .left img {
  width: 100%;
}
#Banner .right {
  display: block;
  margin: auto 0;
  text-align: left;
}
#Banner h1{
  font-weight:700;
}
#Banner h2{
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  line-height: 1.5;
}
#Banner .button {
  background-color: #65B597;
  padding: 0.5rem 0;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
#Banner .button h3{
  text-align: center;
  color: #ffffff /* white */
}
#Banner .button:hover {
  color: #7AC7C4;
  background: #c9eee1;
}
#Banner .button h3:hover {
  color: #7AC7C4;
}
#Banner .button:active {
  background: #ffffff;
}
@media only screen and (max-width: 757px)
{
  #Banner .left, #information .left {
    display: none;
  }
  #Banner .button {
    margin-top: 1.5rem;
    box-shadow: none;
  }
  #Banner .right {
    width: 100%;
  }
}
/*information */
#information.container {
  padding-top: 0;
}

#information .left {
  margin-right: 1.5rem;
  margin-bottom: 2rem;
}

img {
  width: 100%;
}

.left .text h2 {
  padding-bottom: 1.5rem;
}
.left .text p {
  font-family: "Playfair Display", "Times", serif;
  font-style: italic;
  line-height: 110%;
}

#information .right, #Thesis .right {
  border-left: 0.1rem solid #384259;
  margin: 0 auto;
}

/* mini-containers */
.mini-container {
  max-width: 26.4375rem; /* 423px/16px */
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.mini-container:first-child {
  margin-top: 1rem;
}
.mini-container .image {
  width: 35%;
  margin: 1rem;
}
.mini-container .text {
  margin: auto;
  width: 60%;
  padding: 8px;
}

.text h2{
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: 700;
}

.text h3 {
  font-size: 1.2rem;
  font-weight: 700;
}
.text h4 {
  font-size: 1rem;
  padding: 8px 0;
}
h5 {
  font-size: 0.75rem;
  font-family: "Roboto", "Arial", sans-serif;
}
.text p {
  padding-bottom: 2rem;
  font-size: 1.1rem;
}
.expand a{
  color: #FFFFFF;
  font-size: 1rem;
}
.mini-container:hover {
  background-color: #C4EDDE;
}
.mobile-image {
  display: none;
  padding: 1rem;
  max-width: 100%;
}
@media  only screen and (max-width: 768px){
  .mini-container {
    display: flex;
    flex-direction: column;
    height: 30%;
  }
  #information .right .mini-container .image {
    display: none;
  }
  .mobile-image {
    display: flex;
    flex-shrink: 3;
  }
  .mini-container .text {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

}

@media only screen and (max-width: 757px) {
  #information .right, #Thesis .right {
    border-left: none;
  }
}
/* courses */
#Course, #Thesis {
  display: block;
}
.container#Course {
  padding-bottom: 1rem;
}
.heading {
  margin: 0 auto 2rem auto;
  padding-top: 2rem;
  text-align: center;

}
.heading h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
#Course .collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin: 1rem 0;
}

#Course .thumbnail {
  margin: 1rem 1rem;
  background-color: #ffffff;
  width: 25%;
  flex-basis: auto;
}
#Course .thumbnail .image img{
  width: 100%;
  flex-shrink: 3;
}
#Course .quick-display {
  flex-basis: 13.75rem;
}
#Course .thumbnail .title {
  font-size: 1rem;
  font-weight: 700;
  padding: 16px;
}
#Course .thumbnail .subtitle {
  font-size: 1rem;
  padding: 8px 16px;
}
#Course .thumbnail .description {
  font-size: 1rem;
  padding: 0 16px 24px 16px;
}

#Course h2 {
  font-family: "Roboto", "Arial", sans-serif;
}
  #mobile.thumbnail {
    display: none;
    flex-direction: column;
    width: 100%;
    padding-bottom: 1rem;
    margin-top: 16px;
    margin-right: 24px;
    background-color: inherit;
  }
  #mobile.thumbnail .title {
    margin-bottom: 2rem;
    margin: 8px 0px;
    border: 5px black;
    padding: 16px;
    margin-right: 16px;
    background-color: #808080;
    color: #7AC7C4;
  }
  #mobile.thumbnail .title:hover {
    background-color: #999999;
  }
@media only screen and (max-width: 757px) {
  #Course .heading {
    padding-bottom: 0px;
  }
  .collection {
    display: none;
  }
  .collection .thumbnail{
    display: none;
  }
  #mobile.thumbnail {
    display: flex;
  }
}
/* thesis */
#Thesis .content {
  display: flex;
}
#Thesis .mini-container:first-child {
    margin-top: 0rem;
}
#Thesis .left {
  margin-right: 16px;
}
.video {
  padding-bottom: 24px;
}
.video video{
  max-width: 100%;
}
#Thesis .text p{
  font: 1rem;
}

@media  only screen and (max-width: 768px){
  #Thesis .mini-container {
    flex-direction: row;
  }
  #Thesis .mini-container .image {
    max-width: 35%;
    margin: 0;
  }
  #Thesis .mini-container .text {
    padding: 0;
    margin: auto;
  }
  .container#Thesis {
    padding: 0;
  }

}

@media only screen and (max-width: 757px) {
  /*#Thesis .heading {
    margin-bottom: 32px;
    margin-top: 32px;
    padding-bottom: 0px;
  }
  #Thesis.container {
    padding: 0;
  } */
  #Thesis .right {
    display: none;
  }
  #Thesis .left .text {
    display: none;
  }

  #Thesis .content, #Thesis .left, #Thesis .video ,#Thesis .video video {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
  }
}

/* footer */
footer {
  border-top: 1px solid #384259;
  background-color: #FFFFFF;
  padding: 10px 24px 64px 24px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#extra a {
  padding-left: 16px;
}
@media only screen and (max-width: 757px) {
  footer {
    margin-top: 24px;
    padding: 16px;
  }
  footer #extra {
    display: none;
  }
}
